.tableContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.symbol {
  font-weight: bold;
}

.center {
  box-sizing: border-box;
  max-width: 992px;
  width: 992px;
  border: 1px solid #f0f0f0;
  padding: 20px;
}

.row > td {
  padding: 0 0 0 16px !important;
}

.row:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .center {
    width: 768px;
  }
}
@media (max-width: 576px) {
  .center {
    width: 768px;
    padding: 0;
  }
  .row > td {
    padding: 0px 0px !important;
  }
  .row > td:last-child {
    padding-right: 0 !important;
  }
  .row > td:first-child {
    padding-left: 16px !important;
  }
}

.chart {
  margin-left: 16px;
}
