.tableContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.symbol {
  font-weight: bold;
}

.center {
  width: 992px;
  border: 1px solid #f0f0f0;
  padding: 20px;
}

.row:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .center {
    width: 768px;
  }
}
@media (max-width: 576px) {
  .center {
    width: 768px;
    padding: 0;
  }
}
