.inputsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputNumber {
  width: 100%;
  margin-bottom: 0;
}

.inputNumber:first-child {
  margin-right: 20px;
}

@media (max-width: 575.98px) {
  .inputNumber {
    width: 100%;
  }
  .inputNumber:first-child {
    margin-right: 10px;
  }
}
